html {
    background-color:rgb(78, 145, 145);
}

h1{
    border: pink 8px solid;
}
img {
    display:block;
    margin: 10px auto
}

.fancy {
    
    font-family: 'Allura', cursive;
    font-weight: bold;
}
.lovelyperson {
    background-color:rgb(168, 138, 98);
    padding: 15px;
    border:rgb(53, 68, 22) solid 8px;
    margin: 50px 15px;
    text-align: center;
    
}